:root{
    --mainRed:#C31E20;
    --margin: 2rem;
    --searchBackground: rgb(31, 82, 111);
    --backgroundSection1: #235D7D;
    --backgroundSection2:rgb(39, 53, 71);
    --btnColor:#F19421;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    font-family: 'Montserrat',sans-serif;
    width: 100vw;
    overflow-x:hidden;
}

.nav{
    width:100%;
    height: 2rem;
    background-color:var(--mainRed);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 2rem;
}
.nav-main{
    height: 100%;
    display: flex;
    align-items: center;
}
.nav-main p{
    font-size:.87rem;
    color: white;
    line-height: 2rem;
}
.nav-main p span{
    margin-right: var(--margin);
}
.nav-section{
   width: 35%;
   height: 100%;
   display: flex;
   align-items: center;
   list-style: none;
   color: white;
   font-size: .87rem;
}
.nav-items:not(:last-child){
    margin-right: 1rem;
}
.hero{
    position: relative;
    background-color: var(--backgroundSection1);
    height:calc(100vh - 2.5rem);
    padding-top: 2rem;
}
.hero-bar{
    width: 98%;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 10rem 1fr 3rem 10rem; 
    height: 3rem;
    background-color: transparent
}
.hero-bar-logo{
    width:7rem;
    height: 3rem;
    justify-self: center;
}
.search-icon {
    border:1px solid rgba(255,255,255,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-icon span{
    font-size: 1.2rem;
}
.search-bar{
    background-color: var(--searchBackground); 
    border:1px solid rgba(255,255,255,.5);
    color: white;
    font-family: 'Montserrat',sans-serif;
    padding-left:2rem;
}
.search-bar::-webkit-input-placeholder{
    color: rgba(255,255,255,.5);
    font-family: 'Montserrat',sans-serif;
}
.sign-up{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
.sign-up p{
    color: white;
    font-size: .87rem;
}
.sign-up-img{
    width: 2rem;
    height: 2rem;
}
.hero-background{
    width: 100%;
    height: 40rem;
}
.svg{
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.svg svg{
    width: 100%;
    height: 100%;
}
.hero-title{
    position: absolute;
    z-index: 1;
    width: 50rem;
    height: 15rem;
    color: white;
    top: 10rem;
    left: 12rem;
}
.hero-title p{
    font-size: .87rem;
}
.hero-title h1{
    font-size: 3rem;
    font-weight: 200;
    margin-bottom:2rem;
}
.hero-btn{
    background-color:var(--btnColor);
    color: white;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    border-radius: 50px;
    padding:.5rem 1rem;
    margin-top:2rem;
    border: none;
}
 .section{
    height: 100vh;
} 
.sect-1{
    background-color:var(--backgroundSection2);
    position: relative;
}
.sect-1-imgWrapper{
    position: absolute;
    width: 35rem;
    height: 25rem;
    top: calc(50% - 12.5rem);
    left: 10rem;
}
.sect-1-img{
    width: 100%;
    height: 100%;
}
.sect-1-title{
    padding-top: 2rem;
    height: 25rem;
    position:absolute;
    top: calc(50% - 12.5rem);
    right: 5rem;
    color: white;
}
.sect-1-title p{
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.sect-1-title ul{
    padding-left: 2rem;
}
.sect-1-title span{
    font-size: .87rem;
}
.sect-1-items{
    font-size: 1rem;
    margin-bottom: 1.2rem;
}
.sect-1-btn{
    background-color:var(--mainRed);
    color: white;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    border-radius: 50px;
    padding:.5rem 1rem;
    margin-top:2rem;
    border: none;
    margin-bottom: 2rem;
}
.sect-2{
    background-image: url(../images/forklift.png);
    position: relative;
}
.sect-2-title{
    top: 5rem;
    left: 5rem;
    position: absolute;
    width: 30rem;
    color: white;
}
.sect-2-title h2{
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 1rem; 
}
.sect-2-title p{
    font-size: .87rem;
}
.sect-2-btn{
    background-color:var(--backgroundSection2);
    color: white;
    font-family: 'Montserrat',sans-serif;
    text-align: center;
    border-radius: 50px;
    padding:.5rem 1rem;
    margin-top:2rem;
    border: none;
    margin-bottom: 2rem;
}
.sect-3{
    height: 80vh;
    padding:2rem 10rem;   
    display: flex;
    justify-content: center;
}
.sect-3-title{
text-align: center;
}
.sect-3-title h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.sect-3-title p{
    font-size: .87rem;
    font-weight: 200;
}
.cards-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4rem;
}
.card{
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
}
.card img{
margin-bottom: .50rem;
}
.card span{
    font-weight: bold;
    font-size: .87rem;
    margin-bottom: 1.5rem;
}

